*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 0 300px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-content-right img{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;;
    font-size: 18px;
}
.header-top li{
    padding: 16px;
}
.logo{
    padding: 16px;
    color: #f9faf8;
    font-size: 24px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding-top: 30px ;
    margin-top: 50px;
    margin-bottom: 100px;
}

.header-content p{
    max-width: 50%;
    color: #e5e7eb;
}

.header-content h1{
    line-height: 1.2;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.header-top a{
    text-decoration: none;
    color: #e5e7eb
}

.myButton {
	background-color:#2dabf9;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:9px 19px;
	text-decoration:none;
    margin-top: 10px;
}


/*----Section 1-----*/


.btn {
    border-radius: 12px;
    color: white;
    font-size: 20px;
    padding: 80px 55px;
    border: solid #3882f6 4px;
    text-decoration: none;
}
.btn:hover{
    background-color: #3882f6;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-bottom{
    display: flex;
    margin-bottom: 150px;

}
  
.section1 p{
    width: 180px;
    text-align: center;
}

.section1 h2{
    font-size: 36px;
    font-weight: 800;
    margin: 50px 0;
}

.section1-bottom-content{
    margin: 0 40px;
    justify-content: center;
}
  
/*----Section 2------*/

.section2{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 p{
    width: 900px;
    font-style: italic;
    font-size: 36px;
    font-weight:lighter;
}

.section2-content{
    display: flex;
    flex-direction: column;
    margin: 160px 0;

}

.section2-content h4{
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
    margin-right: 20px;
    margin-top: 20px;
}

/*-----Section-3------*/

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-content{
    margin: 160px 100px;
    display: flex;
    justify-content: space-around;
    padding: 45px 80px;
    background-color:#3882f6;
    color:#f9faf8;
    border-radius: 10px;
    gap: 25px;
}

.section3-content h4{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
}

.section3-content p{
    width: 600px;
}

.section3 .myButton {
	background-color:#3882f6;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    font-weight: 600;
}

/*-----footer-----*/

.footer{
    height: 100px;
    background-color:#1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items:center;
}
